/**
 * pepe-lite-buttons.css
 * author    Franchi Design
 * package   pepe-lite
*/

/* TABLE OF CONTENT
- General Css
- Effect Button
- Size Button
*/  

/* General css */
[class^="pep-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 1rem auto;
  border: 1px solid currentColor;
}

a[class^="pep-"]{
  text-align: center;
  text-decoration: none;
}

/* Effect Button */
.pep-0:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-0:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-1:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-1:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-2:before, .pep-2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-2:before {
  right: -50px;
  border-right: 50px solid transparent;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-2:after {
  left: -50px;
  border-left: 50px solid transparent;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-2:hover:before {
  -webkit-transform: translateX(-49%);
  transform: translateX(-49%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-2:hover:after {
  -webkit-transform: translateX(49%);
  transform: translateX(49%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-3:before, .pep-3:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-3:before {
  border-right: 40px solid transparent;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-3:after {
  border-left: 40px solid transparent;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-3:hover:before {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-3:hover:after {
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:before, .pep-4:after,
.pep-4 span:before,
.pep-4 span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:before {
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:after {
  -webkit-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4 span:before {
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4 span:after {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:hover:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:hover:after {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:hover span:before {
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-4:hover span:after {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-5:after {
  content: '';
  width: 0;
  height: 0;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-5:before {
  content: '';
  width: 0;
  height: 0;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
.pep-5:before, .pep-5:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-5:before {
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-5:after {
  top: 0;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-5:hover:before, .pep-5:hover:after {
  border-width: 80px 262.5px;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.4s ease-in-out, 
  height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.pep-6:hover span {
  width: 225%;
  height: 562.5px;
}

.pep-7:before, .pep-7:after,
.pep-7 span:before,
.pep-7 span:after {
  content: '';
  position: absolute;
  top: 0;
  width: 25.25%;
  height: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-7:before {
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-7:after {
  left: 50%;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-7 span:before, .pep-7 span:after {
  top: auto;
  bottom: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
.pep-7 span:before {
  left: 25%;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-7 span:after {
  left: 75%;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-7:hover:before, .pep-7:hover:after,
.pep-7:hover span:before,
.pep-7:hover span:after {
  height: 80px;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-8:before, .pep-8:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-8:before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-8:after {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-8:hover:before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-8:hover:after {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-9:before, .pep-9:after,
.pep-9 span:before,
.pep-9 span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-9:after,
.pep-9 span:before {
  top: auto;
  bottom: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-9 span:before,
.pep-9 span:after {
  transition-delay: 0.4s;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-9:hover:before, .pep-9:hover:after,
.pep-9:hover span:before,
.pep-9:hover span:after {
  height: 80px;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-10:before, .pep-10:after,
.pep-10 span:before,
.pep-10 span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 80px;
  transition: 0.4s;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-10:after,
.pep-10 span:before {
  left: auto;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-10 span:before,
.pep-10 span:after {
  transition-delay: 0.4s;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-10:hover:before, .pep-10:hover:after,
.pep-10:hover span:before,
.pep-10:hover span:after {
  width: 250px;
}

@-webkit-keyframes pep-effect-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes pep-effect-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@-webkit-keyframes pep-effect-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes pep-effect-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.pep-11 {
  position: relative;
}

.pep-11:before, .pep-11:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-11:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-11:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-11:hover:before {
  -webkit-animation: pep-effect-left 0.8s both;
  animation: pep-effect-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-11:hover:after {
  -webkit-animation: pep-effect-right 0.8s both;
  animation: pep-effect-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.pep-12:before, .pep-12:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
  
.pep-12:before {
  right: -50px;
  border-right: 50px solid transparent;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
  
.pep-12:after {
  left: -50px;
  border-left: 50px solid transparent;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
  
.pep-12:hover:before {
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
  
.pep-12:hover:after {
  -webkit-transform: translateX(40%);
  transform: translateX(40%);
  z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

/* Size Button */

/* Extra Large */
.pep1 {
  height: 50px;
  max-width: 200px;
}

a.pep1{
  line-height:50px;
  font-size:16px;
}

/* Large */
.pep2{
  height: 46px;
  max-width: 150px;
}

a.pep2{
  line-height:46px;
  font-size:14px;
}

/* Middle */
.pep3{
  height: 30px;
  max-width: 150px;
}

a.pep3{
line-height:30px;
font-size:12px;
}

/* Small */
.pep4{
  height: 30px;
  max-width: 100px;
}

a.pep4{
line-height:30px;
font-size:12px;
}

/* Extra Small */
.pep5 {
  height: 20px;
  max-width: 70px;
}

a.pep5{
  line-height:20px;
  font-size:10px;
}
  